In [72]:
import numpy as np
import pandas as pd

## DataTypes and Attributes

In [73]:
#NumPy's main datatype is ndarray- n dimensional array
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [74]:
type(a1)

numpy.ndarray

In [75]:
a2=np.array([[1,2,3],
           [4,5,6.5]])

a3=np.array ([[[1,2,3],
              [4,5,6],
              [7,8,9]],
              [[10,11,12],
              [13,14,15],
              [16,17,18]]])

In [76]:
a2

array([[1. , 2. , 3. ],
       [4. , 5. , 6.5]])

In [77]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [78]:
a1.shape

(3,)

In [79]:
a2.shape

(2, 3)

In [80]:
a3.shape

(2, 3, 3)

In [81]:
#Number of dimensions

a1.ndim, a2.ndim , a3.ndim

(1, 2, 3)

In [82]:
a1.dtype , a2.dtype, a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

In [83]:
a1.size,a2.size,a3.size

(3, 6, 18)

In [84]:
type(a1),type(a2),type(a3) #ndarray is universal data type

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [85]:
#create a dataframe from a numpy array

df2=pd.DataFrame(a2)
df2

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  6.5

## 2. Creating arrays

In [86]:
sample_array=np.array([1,2,3])
sample_array

array([1, 2, 3])

In [87]:
sample_array.dtype

dtype('int32')

In [88]:
ones = np.ones((2,3))
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [89]:
ones.dtype,type(ones)

(dtype('float64'), numpy.ndarray)

In [90]:
zeros=np.zeros((2,3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [91]:
range_array=np.arange(0,10,2)
range_array

array([0, 2, 4, 6, 8])

In [111]:

random_array=np.random.randint(100,size=(5,3))
random_array

array([[47, 64, 82],
       [99, 88, 49],
       [29, 19, 19],
       [14, 39, 32],
       [65,  9, 57]])

In [93]:
random_array.size

15

In [94]:
random_array.shape

(5, 3)

In [95]:
random_array_2=np.random.random((2,3))
random_array_2

array([[0.13529445, 0.01915926, 0.40388689],
       [0.47569533, 0.33392854, 0.00872318]])

In [96]:
random_array_2.shape

(2, 3)

In [100]:
random_array_3=np.random.rand(2,3)
random_array_3

array([[0.1689692 , 0.03282229, 0.59597432],
       [0.76876763, 0.10753663, 0.00159172]])

In [137]:
#Pseudo-random numbers
np.random.seed(seed=0) #Set our seed then we get our numbers back
random_array_4=np.random.randint(3,9,size=(3,5))
random_array_4

array([[7, 8, 3, 6, 6],
       [6, 4, 6, 8, 5],
       [7, 3, 3, 7, 5]])

In [138]:
np.random.seed(seed=7)
random_array_5=np.random.random((5,3))
random_array_5

array([[0.07630829, 0.77991879, 0.43840923],
       [0.72346518, 0.97798951, 0.53849587],
       [0.50112046, 0.07205113, 0.26843898],
       [0.4998825 , 0.67923   , 0.80373904],
       [0.38094113, 0.06593635, 0.2881456 ]])

array([[0.93813482, 0.46971269, 0.00564195],
       [0.9992083 , 0.04777321, 0.3894479 ],
       [0.5390567 , 0.89173344, 0.82311211],
       [0.60938664, 0.39860229, 0.83447872],
       [0.86905839, 0.87190491, 0.71763644]])