In [4]:
import numpy as np
import pandas as pd

## DataTypes and Attributes

In [5]:
#NumPy's main datatype is ndarray- n dimensional array
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [6]:
type(a1)

numpy.ndarray

In [7]:
a2=np.array([[1,2,3],
           [4,5,6.5]])

a3=np.array ([[[1,2,3],
              [4,5,6],
              [7,8,9]],
              [[10,11,12],
              [13,14,15],
              [16,17,18]]])

In [8]:
a2

array([[1. , 2. , 3. ],
       [4. , 5. , 6.5]])

In [9]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [10]:
a1.shape

(3,)

In [11]:
a2.shape

(2, 3)

In [12]:
a3.shape

(2, 3, 3)

In [13]:
#Number of dimensions

a1.ndim, a2.ndim , a3.ndim

(1, 2, 3)

In [14]:
a1.dtype , a2.dtype, a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

In [15]:
a1.size,a2.size,a3.size

(3, 6, 18)

In [16]:
type(a1),type(a2),type(a3) #ndarray is universal data type

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [17]:
#create a dataframe from a numpy array

df2=pd.DataFrame(a2)
df2

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  6.5

## 2. Creating arrays

In [18]:
sample_array=np.array([1,2,3])
sample_array

array([1, 2, 3])

In [19]:
sample_array.dtype

dtype('int32')

In [20]:
ones = np.ones((2,3))
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [21]:
ones.dtype,type(ones)

(dtype('float64'), numpy.ndarray)

In [22]:
zeros=np.zeros((2,3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [23]:
range_array=np.arange(0,10,2)
range_array

array([0, 2, 4, 6, 8])

In [24]:

random_array=np.random.randint(100,size=(5,3))
random_array

array([[12, 22,  1],
       [82, 19, 22],
       [33,  5, 52],
       [ 7, 77,  1],
       [ 6, 85, 16]])

In [25]:
random_array.size

15

In [26]:
random_array.shape

(5, 3)

In [27]:
random_array_2=np.random.random((2,3))
random_array_2

array([[0.18063579, 0.40352574, 0.16501824],
       [0.08694407, 0.2467779 , 0.52175247]])

In [28]:
random_array_2.shape

(2, 3)

In [29]:
random_array_3=np.random.rand(2,3)
random_array_3

array([[0.30271733, 0.55823593, 0.72680298],
       [0.6719268 , 0.13225262, 0.88642145]])

In [30]:
#Pseudo-random numbers
np.random.seed(seed=0) #Set our seed then we get our numbers back
random_array_4=np.random.randint(3,9,size=(3,5))
random_array_4

array([[7, 8, 3, 6, 6],
       [6, 4, 6, 8, 5],
       [7, 3, 3, 7, 5]])

In [31]:
np.random.seed(seed=7)
random_array_5=np.random.random((5,3))
random_array_5

array([[0.07630829, 0.77991879, 0.43840923],
       [0.72346518, 0.97798951, 0.53849587],
       [0.50112046, 0.07205113, 0.26843898],
       [0.4998825 , 0.67923   , 0.80373904],
       [0.38094113, 0.06593635, 0.2881456 ]])

## 3. Viewing Arrays and Matrices

In [32]:
np.unique(random_array_4)

array([3, 4, 5, 6, 7, 8])

In [33]:
a1

array([1, 2, 3])

In [34]:
a2

array([[1. , 2. , 3. ],
       [4. , 5. , 6.5]])

In [35]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [36]:
a1[0]

1

In [37]:
a2[0]

array([1., 2., 3.])

In [38]:
a2[0][2]

3.0

In [39]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [40]:
a3[:2,:2,:2]

array([[[ 1,  2],
        [ 4,  5]],

       [[10, 11],
        [13, 14]]])

In [41]:
a3[1][2][1]

17

In [42]:
np.random.seed(0)
a4= np.random.randint(15,size=(2,3,4,5))
a4

array([[[[12,  5,  0,  3, 11],
         [ 3,  7,  9,  3,  5],
         [ 2,  4,  7,  6,  8],
         [ 8, 12, 10,  1,  6]],

        [[ 7,  7, 14,  8,  1],
         [ 5,  9, 13,  8,  9],
         [ 4,  3,  0,  3,  5],
         [14,  0,  2,  3,  8]],

        [[ 1,  3, 13,  3,  3],
         [14,  7,  0,  1,  9],
         [ 9,  0, 10,  4,  7],
         [ 3, 14, 11,  2,  7]]],


       [[[12,  2,  0,  0,  4],
         [ 5,  5,  6,  8,  4],
         [ 1,  4,  9, 10, 10],
         [ 8,  1,  1,  7,  9]],

        [[ 9,  3,  6,  7, 11],
         [14,  2, 11,  0, 14],
         [ 3,  5, 12,  9, 10],
         [ 4, 11,  4,  6,  4]],

        [[ 4,  3, 12,  4,  4],
         [ 8, 14,  4,  3, 10],
         [ 7, 13,  5,  5,  0],
         [ 1,  5,  9,  3,  0]]]])

In [43]:
a4[1][0][0]

array([12,  2,  0,  0,  4])

In [44]:
a4[:,:,:,:1]

array([[[[12],
         [ 3],
         [ 2],
         [ 8]],

        [[ 7],
         [ 5],
         [ 4],
         [14]],

        [[ 1],
         [14],
         [ 9],
         [ 3]]],


       [[[12],
         [ 5],
         [ 1],
         [ 8]],

        [[ 9],
         [14],
         [ 3],
         [ 4]],

        [[ 4],
         [ 8],
         [ 7],
         [ 1]]]])

## 4. Manipulating and Comparing Arrays

### Arithmetic

In [45]:
a1

array([1, 2, 3])

In [46]:
ones=np.ones(3)
ones

array([1., 1., 1.])

In [47]:
a1 + ones

array([2., 3., 4.])

In [48]:
a1 - ones

array([0., 1., 2.])

In [49]:
a1 * ones

array([1., 2., 3.])

In [50]:
a2

array([[1. , 2. , 3. ],
       [4. , 5. , 6.5]])

In [51]:
a1 * a2 #Broadcasting

array([[ 1. ,  4. ,  9. ],
       [ 4. , 10. , 19.5]])

In [52]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [53]:
a1 / ones

array([1., 2., 3.])

In [54]:
a2 %2

array([[1. , 0. , 1. ],
       [0. , 1. , 0.5]])

In [55]:
np.mod(a2,2)

array([[1. , 0. , 1. ],
       [0. , 1. , 0.5]])

## Aggregation
Aggregation = Performing the same operation on a number of things

In [56]:
listy_list=[1,2,3]
type(listy_list)

list

In [57]:
sum(listy_list)

6

In [58]:
sum(a1)

6

In [59]:
np.sum(a1)

6

Use python's methods on Python datatypes(`sum()`) and use
Numpy's methods on Numpy arrays(`np.sum()`)

In [60]:
#Create a massive NumPy array
massive_array=np.random.random(100000)
massive_array.size

100000

In [61]:
massive_array[:100]

array([0.66252687, 0.01357164, 0.6228461 , 0.67365963, 0.971945  ,
       0.87819347, 0.50962438, 0.05571469, 0.45115921, 0.01998767,
       0.44171092, 0.97958673, 0.35944446, 0.48089353, 0.68866118,
       0.88047589, 0.91823547, 0.21682214, 0.56518887, 0.86510256,
       0.50896896, 0.91672295, 0.92115761, 0.08311249, 0.27771856,
       0.0093567 , 0.84234208, 0.64717414, 0.84138612, 0.26473016,
       0.39782075, 0.55282148, 0.16494046, 0.36980809, 0.14644176,
       0.56961841, 0.70373728, 0.28847644, 0.43328806, 0.75610669,
       0.39609828, 0.89603839, 0.63892108, 0.89155444, 0.68005557,
       0.44919774, 0.97857093, 0.11620191, 0.7670237 , 0.41182014,
       0.67543908, 0.24979628, 0.31321833, 0.96541622, 0.58846509,
       0.65966841, 0.53320625, 0.23053302, 0.39486929, 0.61880856,
       0.47486752, 0.47013219, 0.71607453, 0.287991  , 0.38346223,
       0.74916984, 0.87845219, 0.10286336, 0.09237389, 0.35404666,
       0.55181626, 0.03362509, 0.96896177, 0.32099724, 0.22126269,
       0.1412639 , 0.09725993, 0.98404224, 0.26034093, 0.53702252,
       0.44792617, 0.09956909, 0.35231166, 0.46924917, 0.84114013,
       0.90464774, 0.03755938, 0.50831545, 0.16684751, 0.77905102,
       0.8649333 , 0.41139672, 0.13997259, 0.03322239, 0.98257496,
       0.37329075, 0.42007537, 0.05058812, 0.36549611, 0.01662797])

In [62]:
%timeit sum(massive_array) # Python's sum
%timeit np.sum(massive_array) # NumPy's sum is fastt

20.9 ms ± 691 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
39.2 µs ± 1.11 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [63]:
a2

array([[1. , 2. , 3. ],
       [4. , 5. , 6.5]])

In [67]:
 np.mean(a2)

3.5833333333333335

In [68]:
np.max(a2)

6.5

In [69]:
np.min(a2)

1.0

In [70]:
np.std(a2)

1.8352262954621035

In [71]:
# Variance is square of standard deviation
np.var(a2)

3.368055555555556

In [73]:
np.sqrt(np.var(a2))

1.8352262954621035