In [157]:
import numpy as np
import pandas as pd

## DataTypes and Attributes

In [158]:
#NumPy's main datatype is ndarray- n dimensional array
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [159]:
type(a1)

numpy.ndarray

In [160]:
a2=np.array([[1,2,3],
           [4,5,6.5]])

a3=np.array ([[[1,2,3],
              [4,5,6],
              [7,8,9]],
              [[10,11,12],
              [13,14,15],
              [16,17,18]]])

In [161]:
a2

array([[1. , 2. , 3. ],
       [4. , 5. , 6.5]])

In [162]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [163]:
a1.shape

(3,)

In [164]:
a2.shape

(2, 3)

In [165]:
a3.shape

(2, 3, 3)

In [166]:
#Number of dimensions

a1.ndim, a2.ndim , a3.ndim

(1, 2, 3)

In [167]:
a1.dtype , a2.dtype, a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

In [168]:
a1.size,a2.size,a3.size

(3, 6, 18)

In [169]:
type(a1),type(a2),type(a3) #ndarray is universal data type

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [170]:
#create a dataframe from a numpy array

df2=pd.DataFrame(a2)
df2

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  6.5

## 2. Creating arrays

In [171]:
sample_array=np.array([1,2,3])
sample_array

array([1, 2, 3])

In [172]:
sample_array.dtype

dtype('int32')

In [173]:
ones = np.ones((2,3))
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [174]:
ones.dtype,type(ones)

(dtype('float64'), numpy.ndarray)

In [175]:
zeros=np.zeros((2,3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [176]:
range_array=np.arange(0,10,2)
range_array

array([0, 2, 4, 6, 8])

In [177]:

random_array=np.random.randint(100,size=(5,3))
random_array

array([[19, 60, 44],
       [63, 69, 56],
       [24, 55, 53],
       [61, 64, 34],
       [56, 73, 78]])

In [178]:
random_array.size

15

In [179]:
random_array.shape

(5, 3)

In [180]:
random_array_2=np.random.random((2,3))
random_array_2

array([[0.79076351, 0.93762934, 0.4488258 ],
       [0.38464957, 0.35747524, 0.19335562]])

In [181]:
random_array_2.shape

(2, 3)

In [182]:
random_array_3=np.random.rand(2,3)
random_array_3

array([[0.10047397, 0.4826369 , 0.61370347],
       [0.95124834, 0.34875638, 0.27651471]])

In [183]:
#Pseudo-random numbers
np.random.seed(seed=0) #Set our seed then we get our numbers back
random_array_4=np.random.randint(3,9,size=(3,5))
random_array_4

array([[7, 8, 3, 6, 6],
       [6, 4, 6, 8, 5],
       [7, 3, 3, 7, 5]])

In [184]:
np.random.seed(seed=7)
random_array_5=np.random.random((5,3))
random_array_5

array([[0.07630829, 0.77991879, 0.43840923],
       [0.72346518, 0.97798951, 0.53849587],
       [0.50112046, 0.07205113, 0.26843898],
       [0.4998825 , 0.67923   , 0.80373904],
       [0.38094113, 0.06593635, 0.2881456 ]])

## 3. Viewing Arrays and Matrices

In [185]:
np.unique(random_array_4)

array([3, 4, 5, 6, 7, 8])

In [186]:
a1

array([1, 2, 3])

In [187]:
a2

array([[1. , 2. , 3. ],
       [4. , 5. , 6.5]])

In [188]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [189]:
a1[0]

1

In [190]:
a2[0]

array([1., 2., 3.])

In [191]:
a2[0][2]

3.0

In [192]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [193]:
a3[:2,:2,:2]

array([[[ 1,  2],
        [ 4,  5]],

       [[10, 11],
        [13, 14]]])

In [194]:
a3[1][2][1]

17

In [198]:
np.random.seed(0)
a4= np.random.randint(15,size=(2,3,4,5))
a4

array([[[[12,  5,  0,  3, 11],
         [ 3,  7,  9,  3,  5],
         [ 2,  4,  7,  6,  8],
         [ 8, 12, 10,  1,  6]],

        [[ 7,  7, 14,  8,  1],
         [ 5,  9, 13,  8,  9],
         [ 4,  3,  0,  3,  5],
         [14,  0,  2,  3,  8]],

        [[ 1,  3, 13,  3,  3],
         [14,  7,  0,  1,  9],
         [ 9,  0, 10,  4,  7],
         [ 3, 14, 11,  2,  7]]],


       [[[12,  2,  0,  0,  4],
         [ 5,  5,  6,  8,  4],
         [ 1,  4,  9, 10, 10],
         [ 8,  1,  1,  7,  9]],

        [[ 9,  3,  6,  7, 11],
         [14,  2, 11,  0, 14],
         [ 3,  5, 12,  9, 10],
         [ 4, 11,  4,  6,  4]],

        [[ 4,  3, 12,  4,  4],
         [ 8, 14,  4,  3, 10],
         [ 7, 13,  5,  5,  0],
         [ 1,  5,  9,  3,  0]]]])

In [199]:
a4[1][0][0]

array([12,  2,  0,  0,  4])

In [201]:
a4[:,:,:,:1]

array([[[[12],
         [ 3],
         [ 2],
         [ 8]],

        [[ 7],
         [ 5],
         [ 4],
         [14]],

        [[ 1],
         [14],
         [ 9],
         [ 3]]],


       [[[12],
         [ 5],
         [ 1],
         [ 8]],

        [[ 9],
         [14],
         [ 3],
         [ 4]],

        [[ 4],
         [ 8],
         [ 7],
         [ 1]]]])

## 4. Manipulating and Comparing Arrays

### Arithmetic

In [203]:
a1

array([1, 2, 3])

In [205]:
ones=np.ones(3)
ones

array([1., 1., 1.])

In [206]:
a1 + ones

array([2., 3., 4.])

In [207]:
a1 - ones

array([0., 1., 2.])

In [208]:
a1 * ones

array([1., 2., 3.])

In [209]:
a2

array([[1. , 2. , 3. ],
       [4. , 5. , 6.5]])

In [210]:
a1 * a2 #Broadcasting

array([[ 1. ,  4. ,  9. ],
       [ 4. , 10. , 19.5]])

In [212]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [213]:
a1 / ones

array([1., 2., 3.])

In [214]:
a2 %2

array([[1. , 0. , 1. ],
       [0. , 1. , 0.5]])

In [216]:
np.mod(a2,2)

array([[1. , 0. , 1. ],
       [0. , 1. , 0.5]])